<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393930989494-dpj1t8bg57bh0h9dmf8j5hbic9k4169l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393930989494-dpj1t8bg57bh0h9dmf8j5hbic9k4169l</string>
	<key>API_KEY</key>
	<string>AIzaSyC8n51H6Ekjwv7Yur5Z0X_-f26HKFoylGE</string>
	<key>GCM_SENDER_ID</key>
	<string>393930989494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.ittepic.damU4Proyecto217401034</string>
	<key>PROJECT_ID</key>
	<string>proyecto2-d1955</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto2-d1955.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393930989494:ios:a589400fc5da690121ab17</string>
</dict>
</plist>